<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=1280, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="renderer" content="webkit|ie-stand|ie-comp">
	<title>小微企业ERP</title>
	<link href="../../statics/saas/scm/app2_release/css/common.css?ver=20150522" rel="stylesheet" type="text/css">
	<link href="../../statics/saas/scm/app2_release/css/green/ui.min.css?ver=20150522" rel="stylesheet">
	<script src="../../statics/saas/scm/app2_release/js/common/libs/jquery/jquery-1.10.2.min.js?10"></script>
	<script src="../../statics/saas/scm/app2_release/js/common/libs/json3.min.js?10"></script>
	<script src="../../statics/saas/scm/app2_release/js/common/common.js?ver=20151021"></script>
	<script src="../../statics/saas/scm/app2_release/js/common/grid.js?ver=20151021"></script>
	<script src="../../statics/saas/scm/app2_release/js/common/plugins.js?ver=20151021"></script>
	<script src="../../statics/saas/scm/app2_release/js/common/plugins/jquery.dialog.js?self=true&ver=20151021"></script>

<script type="text/javascript">
var DOMAIN = document.domain;
var WDURL = "";
var SCHEME= "<?php echo sys_skin()?>";
try{
	document.domain = '<?php echo base_url()?>';
}catch(e){
}
//ctrl+F5 增加版本号来清空iframe的缓存的
$(document).keydown(function(event) {
	/* Act on the event */
	if(event.keyCode === 116 && event.ctrlKey){
		var defaultPage = Public.getDefaultPage();
		var href = defaultPage.location.href.split('?')[0] + '?';
		var params = Public.urlParam();
		params['version'] = Date.parse((new Date()));
		for(i in params){
			if(i && typeof i != 'function'){
				href += i + '=' + params[i] + '&';
			}
		}
		defaultPage.location.href = href;
		event.preventDefault();
	}
});
</script>

<script src="<?php echo skin_url()?>/js/common/plugins/jquery.spinbox.js">
</script>
<style>
body{background: #fff;}
.manage-wrap{margin: 20px auto 10px;width: 300px;}
.manage-wrap .ui-input{width: 200px;font-size:14px;}
.mod-form-rows .tips {color:#555;font-size:14px;}
</style>
</head>
<body>
<div id="manage-wrap" class="manage-wrap">
	<form id="manage-form" action="">
		<ul class="mod-form-rows">
			<li class="row-item">
				<div class="label-wrap"><label for="name">名称：</label></div>
				<div class="ctn-wrap"><input type="text" value="" class="ui-input" name="name" id="name"></div>

			</li>
			<li class="row-item">
    			<div class="label-wrap"><label for="group">所属组：</label></div>
    			<div class="ctn-wrap"><span id="group"></span></div>
			</li>
			<li class="row-item">
				<div class="label-wrap"><a class="tips" title="（基本单位:个）" >换算关系：</a></div>
				<div class="ctn-wrap">
					<input type="text" name="rate" id="rate" class="ui-input ui-input-dis" disabled/>
				</div>
			</li>
		</ul>
	</form>
</div>
<script src="/statics/js/dist/unitManage.js?ver=20140430"></script>
</body>
</html>
